<h1>Share new cookie :))</h1>
<h4>img url isn't required</h4>
<input type="text" placeholder = "Cookie description" id="input-cookie-text"  value="">
<input type="text" placeholder="Cookie category" id="input-cookie-category" value="">
<input type="text" placeholder="img url" id="input-img-url" value="">
<button id="btn-add-cookie">Share cookie</button>
