<h1>Register</h1>
<input type="text" placeholder = "Username" id="inputUsername" >
<input type="password" placeholder="Password" id="inputPassword1" >
<input type="password" placeholder="Password" id="inputPassword2" >
<button id="btn-register" class="btn btn-success">Register</button>
